---
layout: default
title: Changelogs
---
<div id="home">
    <h1>Release Notes</h1>
    
    <ul class="posts">
        {% for changelog in site.changelogs offset: 0 limit: 10 %}
        <li>
            <span>{{ changelog.date | date_to_string }}</span>&nbsp;&raquo;
            <a href="{{ site.prefix }}{{ changelog.url }}">{{ changelog.title }}</a> &nbsp;&#8211;&nbsp; {{ changelog.description }} &nbsp;&#8211;&nbsp; 
            {% if site.disqus_short_name and changelog.comments == true and site.disqus_show_comment_count == true %}
		    {% include post/comments_link.html %}
		    {% endif %}
            
        </li>
        {% endfor %}
    </ul>
    
</div>