<meta charset="utf-8">

<meta name="keywords" content="The Gamer's Reader, TGR, gaming news, gamer's news" />
<meta name="description" content="The Gamer’s Reader is a clean, advertisement-free iPhone and iPad app that makes reading the news of your interest from the most consulted gaming websites easy thanks to powerful tools of content curation." />
  

<meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}" />
<meta property="og:site_name" content="The Gamer's Reader - gaming news iOS app" />
<!--  <meta property="og:image" content="http://" />-->
<meta property="og:url" content="http://thegamersreader.com" />
<meta property="og:description" content="The Gamer’s Reader is a clean, advertisement-free iPhone and iPad app that makes reading the news of your interest from the most consulted gaming websites easy thanks to powerful tools of content curation." />
<meta name="apple-itunes-app" content="app-id=859991142">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">

<!-- Simple Text Rotator CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/simpletextrotator.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<!--Custom Fonts-->
<link rel="stylesheet" href="{{ site.url }}/assets/css/steelfishFont.css">

<!--Favicon-->
<link href="{{ site.url }}/assets/favicon.ico" rel="icon" type="image/x-icon" />

<!-- Bootstrap -->
<link href="{{ site.url }}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


