---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }} &nbsp;&#8211;&nbsp;
    {% if site.disqus_short_name and page.comments == true and site.disqus_show_comment_count == true %}
		    {% include post/comments_link.html %}
    {% endif %}
</p>

<div class="post">
    {{ content }}
    <p style="padding-top:1rem;">
        If you have any questions or comments, please post them below. {% include post/twitter_plug.html %}
    </p>
</div>



{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}